body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: #faf4d3;
}

.App {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

.App-header {
  font-size: 4vw;
  font-weight: 700;
}

p {
  margin-bottom: 0rem;
}

.cards {
  width: 70%;
  gap: 1.5rem 4rem;
}

.card {
  background-color: #084645;
  color: #faf4d3;
  padding: 0.7rem 4rem;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(0.8);
}

.email {
  color: #c0c5aa;
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}
